@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Movie Database</h1>
    <p>Search, Information, Ratings and Reviews</p>
</div>
